<div class="container">
    <form class="register" #form="ngForm" (ngSubmit)="register(form)">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="email" name="email" id="email" placeholder="slav.pisarov@gmail.com"
                ngModel required #inputEmail="ngModel" [appEmail]="appEmailDomains">
            </p>
            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">Email is not valid!</p>
            </ng-container>

            <!-- password -->
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="password" id="password" placeholder="******" 
                ngModel required #inputPassword="ngModel" minlength="4">
            </p>

            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least 4 characters!</p>
            </ng-container>

            <!-- rePassword -->
            <p class="field field-icon">
                <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="rePassword" id="rePassword" placeholder="******"
                ngModel required #inputRePassword="ngModel">
            </p>
            <ng-container *ngIf="inputRePassword.touched">
                <p class="error" *ngIf="inputRePassword.errors?.['required'] || inputPassword.value !== inputRePassword.value"
                >Passwords do not match!</p>

            </ng-container>

            <button>Create Account</button>

            <p class="text-center">
                <a id="account">Have an account?</a>
                <a routerLink="/user/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>