/*login register forms  */

form.login, form.register {
    width: 43%;
    margin: 0 auto;
    margin-top: 13vh;
    text-align: center;
}

.login fieldset, .register fieldset {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color:rgba(7, 43, 73, 0.998);
}

.login h2, .register h2 {
    padding-top: 0;
    border-bottom: none;
}

.login p, .register p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.login input, .register input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 0.3em solid green;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    font-size: large;
}

.login select, .register select {
    border-color: #00acf4;
}

.login button, .register button {
    background-color: #00acf4;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
    cursor: pointer;
    font-size: large;
}

.login i, .register i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

.login a, .register a {
    color: #fdfdfd;
}

.login a:hover, .register a:hover {
    cursor: pointer;
}

.register .tel {
    padding-right: 0.8em;
}

.login .field, .register .field {
    display: flex;
    padding-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

/* errors  */

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: rgb(231, 68, 68);
    padding-top: 0;
    padding-left: 30px;

}

.input-error {
    border-left-color: red;
}

h3 {
    color: #00acf4;
    font-size: 22px;
}

#account{
    color: #00acf4;
    padding-right: 8px;
    font-size: large;
}

