<div class="container">
    <form class="login">

        <fieldset>
            <h3>Do you know any flavours he might be willing to try?</h3>

            <p class="field field-icon">
                <input class="input-error" type="text" name="food" id="email" placeholder="Beef and Tomato">
            </p>

            <ng-container *ngIf="false">
                <p class="error" >Flavour already exists</p>
            </ng-container>

            <button>Add to Menu</button>

        </fieldset>
    </form>

</div>
