<img src="../../assets/images/Buhi-Muhins-Photo.png" alt="cat-food">

<div class="wrapper">
    <!-- <span class="span-wrapper">What's that noise?</span>
    <span class="span-wrapper">&#127831; &#128031; &#127829; &#127831; &#128031; &#127829;</span> -->
    <!-- <span class="span-wrapper">Buhi Muhins is hungry again and must be fed immediately!</span> -->
    <span class="span-wrapper">Buhi Muhins is hungry again </span>
    <span class="span-wrapper">and must be fed immediately!</span>
    <p id="food"></p>
    <button id="btn">And his next meal is...</button>
</div>

<div class="alert">
    <span class="alert-wrapper">I had that last time,</span>
    <span class="alert-wrapper">choose another!</span>
    <button id="alert-btn">Sure thing!</button>
</div>